@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*.. typography ..*/
body {
  font-family: "Space Mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
}

h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

h4 {
  font-size: 0.6rem;
  color: hsl(186, 14%, 43%);
  text-transform: capitalize;
  margin-bottom: 0.3rem;
}

h5 {
  font-size: 0.6rem;
  color: hsl(186, 14%, 43%);
}

header > h1 {
  text-transform: uppercase;
  width: 100px;
  word-wrap: break-word;
  letter-spacing: 5px;
}

.tip_person > h4 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 0.7rem;
}

.total_person > h4 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 0.7rem;
}

.tip_person > h5 {
  font-size: 0.5rem;
}

.total_person > h5 {
  font-size: 0.5rem;
}

input {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 0.85rem;
}

/*.. layout ..*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

header {
  margin-bottom: 2rem;
}

.tip_calc {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

input {
  transition: all 0.05s ease;
}
input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  border-radius: 4px;
}

.num_input {
  padding: 5px 10px;
  min-width: 15rem;
  border: none;
  outline: none;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  font-family: "Space Mono", sans-serif;
  /* min-width: 315px; */
}

.input_icon {
  position: absolute;
  margin: 9px;
}

.bill_amount {
  margin-bottom: 1.5rem;
}

.select_tip-btn {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 0.5rem;
}

.btn_tip {
  font-family: "Space Mono", sans-serif;
  /* width: 5rem; */
  padding: 3px 0.8rem;
  background-color: hsl(183, 100%, 15%);
  border: none;
  outline: none;
  border-radius: 4px;
  color: hsl(189, 41%, 97%);
  transition: all 0.4s ease;
}

.btn_tip:hover,
.btn_tip:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.input_customize {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  padding: 3px 0.8rem;
  outline: none;
  border: none;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", sans-serif;
}

.input_customize::placeholder {
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-size: 0.7rem;
}

.num_ppl {
  margin-bottom: 1.5rem;
}
.num_ppl-info {
  display: flex;
  justify-content: space-between;
}

.calc_resluts {
  background-color: hsl(183, 100%, 15%);
  padding: 1rem 1rem;
  border-radius: 10px;
}

.tip_amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total_amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.tip_person > h4 {
  margin-bottom: 0;
}

.total_person > h4 {
  margin-bottom: 0;
}

.reset_btn {
  background-color: hsl(172, 67%, 45%);
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(183, 100%, 15%);
  transition: all 0.4s ease;
}

.reset_btn:hover {
  background-color: hsl(183, 56%, 30%);
  color: hsl(0, 0%, 100%);
}

.calc {
  color: hsl(172, 67%, 45%);
  font-weight: 500;
  font-size: 1.3rem;
}

.error_msg {
  font-size: 0.7rem;
  margin-right: 1rem;
  color: rgb(241, 41, 41);
}

.error:focus {
  outline: 2px solid rgb(241, 41, 41);
  border-radius: 4px;
}
.hidden {
  display: none;
}

/*.. footer ..*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}

@media only screen and (min-width: 900px) {
  .tip_calc {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
  }

  .num_input {
    min-width: 14.5rem;
  }

  .calc_resluts {
    width: 50%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .select_tip-btn {
    grid-template-columns: 45% 45% 45%;
    max-width: 200px;
  }

  .tip_person > h4 {
    font-size: 1rem;
  }

  .total_person > h4 {
    font-size: 1rem;
  }
}
